src/main/java/gov/sandia/sems/jenkinsutilities/xml/deserializers/perf-report.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- The following file defines the schema for SEMS' Jenkins Performance
     Plug-in XML interface file. This XML file can optionally be generated
     by any Jenkins job during its build.  This schema will be used to 
     define & validate the XML generated by the builds.
     
     Outstanding Topics:
       * Date
         - Is this recorded by this file, Jenkins, or the plug-in?
       * Failure information options to cover multiple user use cases
         - Basic failure inside XML
         - Logic rules inside XML
         - Canary processing
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Definition of the 'performance-report' element. 
         This is the document element.
    -->
    <xs:element name="performance-report">
        <xs:complexType>

            <!-- Child elements for the 'performance-report' element. 
                Any 'metadata', 'metric', or 'timing' child elements
                are allowed in any order.
            -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="metadata" />
                <xs:element name="metric" />
                <xs:element name="timing" />
            </xs:choice>

            <!-- Attributes for the 'performance-report' element.
                name: [Required] A human readable label for this report.
                Example: "LinearProcessing".
                time-units: [Optional] represents the units all 'timing'
                elements' values are measured in. Example: "ns".
            -->
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="time-units" type="xs:string"
                use="optional" />
            <xs:attribute name="build-id" type="xs:string"
                use="optional" />
            <xs:attribute name="date" type="xs:dateTime" use="optional" />
        </xs:complexType>
    </xs:element>
    
    <!-- Definition of the 'timing' element. -->
    <xs:element name="timing">
        <xs:complexType>            

             <!-- Child elements for the 'timing' element. 
                  Any 'metadata', 'metric', or 'timing' child elements
                  are allowed in any order.
            -->
            
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="metadata" />
                <xs:element name="metric" />
                <xs:element name="timing" />
            </xs:choice>
            
            <!-- Attributes for the 'timing' element.
                 name:            [Required] A human readable label for this timing block.
                                  Must be unique within the parent block. Example: "loadData".
                 count:           [Optional] The number of times this timing block was 
                                  executed.  If not supplied, default is 1.
                 start-time:      [Optional] The wall-clock time the timing block began.
                 end-time:        [Optional] The wall-clock time the timing block ended.
                 parallel:        [Optional] Specify whether the data represents
                                  the block in parallel or iterative modes.
                 instance:        [Optional] Specify either which core (parallel is true)
                                  or which iteration (parallel is false) the data
                                  applies to. A * indicates that the data applies
                                  across all cores or iterations.
                 wall-time-min:   [Optional] The smallest measurement of the 
                                  wall-clock runtime of this timing block.
                 wall-time-max:   [Optional] The largest measurement of the 
                                  wall-clock runtime of this timing block.
                 wall-time-sum:   [Optional] The total wall-clock time of
                                  all the instances this timing block was executed.
                                  Mutually exclusive with wall-time-mean.
                 wall-time-mean:  [Optional] The mean wall-clock time of
                                  all the instances this timing block was executed.
                                  Mutually exclusive with wall-time-sum.
                 cpu-time-min:    [Optional] The smallest measurement of the 
                                  CPU-clock runtime of this timing block.
                 cpu-time-max:    [Optional] The largest measurement of the 
                                  CPU-clock runtime of this timing block.
                 cpu-time-sum:    [Optional] The total CPU-clock time of
                                  all the instances this timing block was executed.
                                  Mutually exclusive with cpu-time-mean.
                 cpu-time-mean:   [Optional] The mean CPU-clock time of
                                  all the instances this timing block was executed.
                                  Mutually exclusive with cpu-time-sum.
            -->
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="start-time" type="xs:string" use="optional"/>
            <xs:attribute name="end-time" type="xs:string" use="optional"/>
            <xs:attribute name="parallel" type="xs:boolean" use="optional" default="false"/>
            <xs:attribute name="instance" type="xs:string" use="optional"/>              <!-- no default really makes sense, could be a string -->
            <xs:attribute name="count" type="xs:string" use="optional" default="1"/>
            <xs:attribute name="wall-time-min" type="xs:double" use="optional" />
            <xs:attribute name="wall-time-max" type="xs:double" use="optional" />
            <xs:attribute name="wall-time-sum" type="xs:double" use="optional" />
            <xs:attribute name="wall-time-mean" type="xs:double" use="optional" />
            <xs:attribute name="cpu-time-min" type="xs:double" use="optional" />
            <xs:attribute name="cpu-time-max" type="xs:double" use="optional" />
            <xs:attribute name="cpu-time-sum" type="xs:double" use="optional" />
            <xs:attribute name="cpu-time-mean" type="xs:double" use="optional" />
        </xs:complexType>
    </xs:element>
  
    <!-- Definition of the 'metadata' element. -->
    <xs:element name="metadata">
        <xs:complexType>

             <!-- Attributes for the 'metadata' element.
                key: [Required] The name of this piece of metadata.
                     Example: "cores".
                value: [Required] The value of this piece of metadata.
                       Example: "4".
            -->
            <xs:attribute name="key" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Definition of the 'metric' element. -->
    <xs:element name="metric">
        <xs:complexType>
            
            <!-- Attributes for the 'metric' element.
                 name:        [Required] A human readable label for this metric.
                              Must be unique within the parent block (validation TBD).
                              Example: "RAM Used".
                 units:       [Optional] represents the units this metric is 
                              measured in. Example: "KB".
                 count:       [Optional] This is the number of times the quantity 
                              represented by the metric was measured. Example: "42".
                 value-min:   [Optional] This is a number representing the smallest
                              numerical measurement of the metric. Example: "2314"
                 value-max:   [Optional] This is a number representing the largest
                              numerical measurement of the metric. Example: "4129"
                 value-sum:   [Optional] This is a number representing the sum of 
                              all the numerical measurements of the metric. This is
                              used to compute an average value for the metric.
                              Mutually exclusive with value-mean. Example: "132347"
                 value-mean:  [Optional] This is a number representing the sum of 
                              all the numerical measurements of the metric. This is
                              used to compute an average value for the metric.
                              Mutually exclusive with value-sum. Example: "132347"
                 value:       [Optional] A number representing the single numerical
                              measurement of the metric. Example: "132347".
            -->
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="units" type="xs:string" use="optional" />
             <xs:attribute name="count" type="xs:string" use="optional" default="1"/>
            <xs:attribute name="value-min" type="xs:double" use="optional" />
            <xs:attribute name="value-max" type="xs:double" use="optional" />
            <xs:attribute name="value-sum" type="xs:double" use="optional" />
            <xs:attribute name="value-mean" type="xs:double" use="optional" />
            <xs:attribute name="value" type="xs:double" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>

